In [1]:
# Import statements 

import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

In [3]:
import sys
import seaborn as sns
import matplotlib.pyplot as plt

sys.path.append('../')

from scripts import project_functions # This is called a relative import
df = project_functions.load_and_process("../../data/raw/Vancouver.csv")
df

,Num_Baths,Airbnb_Id,Neighbourhood,Host_ResponseTime,Superhost,Property_Type,Room_Type,Num_Baths_Detailed,Num_Bedrooms,Num_Beds,...,Cleanliness_ReviewScore,Communication_ReviewScore,Value_ReviewScore,Reviews_per_Month,Num_Host_Listings,longitude,latitude,Minimum_Income_per_Booking,Monthly_Income,Yearly_Income
0,2,10080,Downtown,within an hour,False,Entire condominium,Entire home/apt,2 baths,2.0,2.0,...,9.0,9.0,9.0,0.14,40,-123.12046,49.28872,13500.0,1890.00,22680.00
1,1,13358,West End,within a day,True,Entire condominium,Entire home/apt,1 bath,1.0,1.0,...,10.0,10.0,9.0,3.27,1,-123.12669,49.28201,2550.0,8338.50,100062.00
2,1,13490,Kensington-Cedar Cottage,within an hour,True,Entire apartment,Entire home/apt,1 bath,1.0,1.0,...,10.0,10.0,10.0,0.73,1,-123.06607,49.25622,4350.0,3175.50,38106.00
3,1,14267,Kensington-Cedar Cottage,within a few hours,False,Entire house,Entire home/apt,1 bath,1.0,2.0,...,9.0,9.0,9.0,0.26,1,-123.08139,49.24922,420.0,109.20,1310.40
5,1,18270,Mount Pleasant,within an hour,False,Private room in condominium,Private room,1 shared bath,1.0,1.0,...,8.0,10.0,9.0,0.96,1,-123.09600,49.26557,1530.0,107.10,1285.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,1,48473757,Downtown,within an hour,False,Entire condominium,Entire home/apt,1 bath,1.0,2.0,...,9.0,10.0,9.0,3.00,1,-123.12000,49.28002,220.0,741.40,8896.80
2198,1,48488468,Downtown,within an hour,True,Boat,Entire home/apt,1 bath,1.0,1.0,...,10.0,10.0,10.0,8.44,1,-123.10783,49.27551,159.0,27.03,324.36
2204,1,48553847,Downtown,within an hour,False,Entire condominium,Entire home/apt,1 bath,1.0,1.0,...,10.0,10.0,10.0,5.00,1,-123.12364,49.27857,90.0,90.90,1090.80
2209,1,48760992,Killarney,within an hour,False,Entire house,Entire home/apt,1 bath,1.0,2.0,...,10.0,8.0,10.0,2.00,2,-123.03668,49.22866,406.0,706.44,8477.28
2213,1,49098433,Marpole,within an hour,False,Private room in townhouse,Private room,1 private bath,1.0,1.0,...,10.0,10.0,10.0,2.00,1,-123.11574,49.21298,75.0,29.25,351.00

Airbnb_Id                  int64
Neighbourhood             object
Host_ResponseTime         object
Superhost                 object
Num_Host_Listings        float64
Property_Type             object
Room_Type                 object
accommodates               int64
Num_Baths_Detailed        object
Num_Bedrooms             float64
Num_Bedrooms             float64
Amenities                 object
Price_per_Night          float64
Minimum_Nights             int64
Maximum_Nights             int64
availability_30            int64
availability_60            int64
availability_90            int64
Availablility_365Days      int64
Num_Reviews                int64
Reviews_per_Month        float64
Value_ReviewScore        float64
dtype: object

In [182]:
#Sorting Data by "Airbnb_Id"

clean_df=clean_df.sort_values(['Airbnb_Id'])

###Create 3 New Columns :"Minimum_Income_per_Booking","Yearly_Income", "Monthly_Income"###

#Column "Minimum_Income_per_Booking" is calculated by multiplying "Price_per_Night" and "Minimum_Nights"

clean_df['Minimum_Income_per_Booking']=clean_df['Price_per_Night']*clean_df['Minimum_Nights']

#Column "Monthly_Income" is calculated by multiplying "Minimum_Income_per_Booking" and "Reviews_per_Month"

    #**ASSUMPTION**: Guests may or may not leave reviews after their stay, however for our analysis purposes, we are assuming all guests leave reviews
    #**ASSUMPTION**: Yearly and Monthly income estimates are conservative and could be higher

clean_df['Monthly_Income']=clean_df['Minimum_Income_per_Booking']*clean_df['Reviews_per_Month']


#Column "Yearly_Income" is calculated by multiplying "Monthly_Income" times "12

clean_df['Yearly_Income']=clean_df['Monthly_Income']*12
clean_df.head()
clean_df.to_excel("Vancouver_Cleaned_2.xlsx")

##Questions to Answer
#Which Neighbourhood has the highest earning house
#What property type earns the most
#

In [ ]:
#Number of "Unique_Bookings_per_Year" is "Reviws_per_Month" multiplied by 12
clean_df['Unique_Bookings_per_Year']=clean_df['Reviews_per_Month']*12